// custom
$bg-black: #060606;
$text-red: rgb(203, 73, 58);
$container-padding-y: 2rem;
$white: white;

// bootstrap
$body-bg: $bg-black;
$body-color: white;
$font-family-sans-serif: 'Montserrat', sans-serif;
$enable-responsive-font-sizes: true;
$link-hover-color: white;

$pagination-color: $white;
$pagination-bg: none;
$pagination-disabled-color: $white;
$pagination-disabled-bg: none;
$pagination-active-border-color: $white;
$pagination-active-bg: $text-red;
